*.zip*
git[[:space:]]add[[:space:]]C:/Users/Ron/Desktop/BERT-Ghazali/TunedGhazaliBert.zip
git[[:space:]]comming[[:space:]]-m[[:space:]]add filter=lfs diff=lfs merge=lfs -text
TunedGhazaliBert.zip: filter=lfs diff=lfs merge=lfs -text
*.zip*
git[[:space:]]add[[:space:]]C:/Users/Ron/Desktop/BERT-Ghazali/TunedGhazaliBert.zip
git[[:space:]]comming[[:space:]]-m[[:space:]]add filter=lfs diff=lfs merge=lfs -text
*.zip*
git[[:space:]]add[[:space:]]C:/Users/Ron/Desktop/BERT-Ghazali/TunedGhazaliBert.zip
git[[:space:]]comming[[:space:]]-m[[:space:]]add filter=lfs diff=lfs merge=lfs -text
TunedGhazaliBert.zip
git[[:space:]]lfs[[:space:]]track[[:space:]]*.zip* filter=lfs diff=lfs merge=lfs -text
