PyArabic~=0.6.10
farasapy~=0.0.13
numpy~=1.19.5
six~=1.15.0
tokenization~=1.0.7
transformers~=4.6.1
matplotlib~=3.3.4
pandas~=1.2.3
imblearn~=0.0
torch~=1.8
scikit-learn~=0.24.1
optuna~=2.7.0

future~=0.18.2
tqdm~=4.61.0
requests~=2.25.1
colorama~=0.4.4
regex~=2020.11.13
tensorboard~=2.4.1
setuptools~=54.1.1
scipy~=1.6.1
idna~=2.10
urllib3~=1.26.3
chardet~=4.0.0
certifi~=2020.12.5
click~=7.1.2
sacremoses~=0.0.43
joblib~=1.0.1
filelock~=3.0.12
packaging~=20.9
Pillow~=8.1.2
tokenizers~=0.10.1
h5py~=2.10.0
seaborn~=0.11.1